# Folders
build
lib

# Generated
Makefile
*.o
moc_*

# Docs
docs/html

# Build folders
*/debug
*/release
*/*/debug
*/*/release

# Mac Build
src/Makefile.*
*.app/

# Visual studio
*.suo
*.ncb
*.user
*.pdb
*.idb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.lib
*.sln
*.rc
